{% set type      = props.type|default('info') %}
{% set important = props.important|default(false) %}
{% set title     = props.title|default(null) %}
{% set message   = props.message|default('No message provided.') %}

<div class="alert alert-{{ type }}{% if important %} alert-important{% endif %}{% if props.class|default('') %} {{ props.class }}{% endif %}"
     {{ props.except('type', 'important', 'title', 'message', 'class')|render }}>
    {% if title %}<strong>{{ title }}</strong>{% endif %}
    {% block content %}{{ message }}{% endblock %}
</div>
